<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Halaman Tentang</title>
footer {
  background-color: #00796b;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 50px;
  font-size: 14px;
  border-top: 3px solid #004d40;
}

</head>
<body>
<nav>
  <a href="index.html">Beranda</a>
  <a href="tentang.html">Tentang</a>
   <a href="kontak.html">kontak</a>
</nav>
  <h1>Halaman Tentang</h1>
  <p>Ini adalah halaman kedua dari website kamu.</p>
  <a href="index.html">← Kembali ke Beranda</a>
</body>
</html>
