<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Halaman Tentang</title>
body {
  .artikel {
  max-width: 600px;
  margin: 40px auto;
  text-align: left;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.galeri {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  padding: 20px;
  justify-items: center;
}

.kotak {
  width: 100%;
  max-width: 130px;
  text-align: center;
}

.kotak img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  transition: transform 0.2s;
}

.kotak img:hover {
  transform: scale(1.05);
}

.kotak p {
  font-size: 12px;
  margin-top: 6px;
  color: #2e7d32;
}

</head>
<body>
<nav>
  <a href="index.html">Beranda</a>
  <a href="tentang.html">Tentang</a>
   <a href="kontak.html">kontak</a>
</nav>
  <h1>Halaman Tentang</h1>
  <p>Ini adalah halaman kedua dari website kamu.</p>
  <a href="index.html">← Kembali ke Beranda</a>
</body>
</html>
